@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: black;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}
/* Formatting */
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
nav {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
/* General */

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
  margin: 0 auto;
}

.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.btn-black {
  background-color: black;
  color: #fff;
  padding: 6px 8px;
  transition: all 0.3s;
  text-transform: capitalize;
  font-size: 18px;
}
.btn-black:hover {
  color: antiquewhite;
}

/* Header style */
.header-section {
  background-color: rgb(243, 198, 101);
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Acme", sans-serif;
}
.header-section-content {
  /*  display: grid; */
  grid-template-columns: 20% 1fr 10%;
  align-items: center;
}
.header-logo {
  font-size: 28px;
  text-transform: uppercase;
}

.nav-list {
  justify-content: start;
}
.nav-list-item:hover .nav-list-link {
  font-weight: bolder;
}
.nav-list-item {
  padding-right: 27px;
  text-transform: capitalize;
}
.nav-list-link {
  transition: font-weight 0.3s;
  font-size: 28px;
}

/* Home section */
.home-section {
  background-color: rgba(190, 186, 181, 0.322);
}
.section-content {
  padding-top: 40px;
  padding-bottom: 40px;
}
.section-content .content {
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.section-content .content-img {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: stretch;
}
.section-content .content-img img {
  flex: 1;
  object-fit: cover;
  object-position: center;
  /* object-fit: cover;
  object-position: center; */
}
.content-baseline h1 {
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* us style */

.us-section {
  margin-top: 40px;
}

/* Services Style  */
.services-section {
  background-color: rgba(190, 186, 181, 0.322);
}
.services-section .services-header {
  text-align: center;
}
.services-section .services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.services .service .service-image {
  display: flex;
  height: 300px;
  width: 100%;
  align-items: stretch;
}
.services .service .service-image img {
  flex: 1;

  object-fit: cover;
  object-position: center;
}
